*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #333;
}

header{
    background: #f1f1f1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h3, p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    font-size: 18px;
    font-weight: bold;
}

main{
    padding: 10px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main-card{
    width: 250px;
    background: #0acc00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    border: #232323 solid 5px;
    margin: 20px;
}
.baket-card{
    width: 250px;
    background: #0acc00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    padding: 10px;
    border: #232323 solid 5px;
    margin: 20px;
}































